<nav class="navbar navbar-expand-sm navbar-light bg-transparent">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="assets\logo.png" width="190" height="85" alt />
        </a>
        <button class="navbar-toggler d-lg-none border-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fa-solid fa-code main-color"></i>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">

                <li class="nav-item">
                    <a class="nav-link fw-bold fs-5 ms-3" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold fs-5 ms-3" href="#experience">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold fs-5 ms-3" href="#projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold fs-5 ms-3" href="#contact">Contact</a>
                </li>

            </ul>

        </div>
    </div>
</nav>