<section id="landing" class="pt-lg-5 mt-lg-5 container">

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 fw-bold fs-1 text-start d-flex flex-column justify-content-center">
            <div class="item">
                <h1 class="intro">
                    Hello , I'm <br />
                    <span class="fw-bolder">Ahmed Hamoud</span> <br />
                    Frontend Developer
                </h1>
                <div class="d-flex align-items-center">
                    <div class="me-4">
                        <button class="main-button fw-medium"
                            onclick="window.open('./assets/Ahmed-Hamoud-CV Without Photo.pdf')">Download CV</button>
                    </div>
                    <div class="my-3">
                        <a class="text-decoration-none text-black"
                            href="https://www.linkedin.com/in/ahmed-hamoud-8b0041217/" target="_blank">
                            <i class="fa-brands fa-linkedin me-3"></i>
                        </a>
                        <a class="text-decoration-none text-black" href="https://github.com/ahmedhamoud17"
                            target="_blank">
                            <i class="fa-brands fa-github ms-3"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <iframe src="https://lottie.host/embed/ebd4d588-4cac-42c4-918d-c75c9d97f679/ZC2CzBOUxT.json"></iframe>
        </div>
    </div>
</section>

<section id="about" class="text-center vh-100">
    <div class="py-5 container">
        <div>
            <p>Get To Know More</p>
            <h1 class="main-color fw-bolder">About Me</h1>
        </div>
        <div class="row ">

            <div
                class="col-lg-6 col-md-12 col-sm-12 d-flex flex-column justify-content-center fs-3 text-muted fw-bold text-start">
                <p>
                    A freshly graduated FrontendDeveloper proficientin Angular, with hands-on experience inHTML, CSS,
                    and JavaScript.
                    Demonstrated ability to develop engaging and user-friendly web applications through various
                    projects. Skilled in
                    leveraging Angularframeworks to create dynamic and responsive interfaces. Possesses a solid
                    foundation in web
                    development principles and a keen eye for design aesthetics. Eagerto contribute innovative solutions
                    and continue
                    growing in the field of frontend development .
                </p>
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12 ">
                <img class="w-100" src="assets\about.png" alt="">
            </div>

        </div>
    </div>
</section>

<section id="experience" class="text-center">
    <div class="py-5 container">
        <div class="">
            <p>Explore Me</p>
            <h1 class="main-color fw-bolder">Experience</h1>
        </div>
        <div class="row ">

            <div class="col-lg-4 col-md-12 col-sm-12 text-start">

                <div class="">
                    <h4 class="fw-bold main-color">Bee Informatic Technology | BIT</h4>
                    <p class="fw-medium fs-4">an Egyptian software company specialized in Hospital Information
                        Systems
                        development,
                        consultation and implementation.
                        software , HIS, Hospital information system, Clinic Solutions, Information technology,
                        web
                        applications, Mobile applications, and medical information systems
                    </p>
                    <a class="text-decoration-none main-color fw-bold " target="_blank"
                        href=" http://www.bee-technology.com">
                        Website
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 d-flex flex-column justify-content-center text-start">
                <img class="w-100" src="assets\experience.png" alt="">
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 text-start">
                <div>
                    <h4 class="fw-bold main-color">Freelancer</h4>
                    <p class="fw-medium fs-4">As a freelancer, you excel in crafting responsive web applications,
                        harnessing CSS
                        frameworks to ensure seamless user experiences across devices. Your expertise extends to
                        seamlessly integrating APIs, enhancing functionality and connectivity, With a solid grasp of
                        version control through Git
                        and GitHub, you ensure smooth collaboration and efficient project management.

                    </p>

                </div>


            </div>
        </div>

    </div>
</section>

<section id="skills" class="text-center">
    <div class="container">
        <div class="">
            <p>Explore More</p>
            <h1 class="main-color fw-bolder">Skills</h1>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row ">

                    <div class="col-lg-4 col-md-12 col-sm-12 ">

                        <div class="">
                            <h4 class="fw-bold main-color">HTML</h4>
                            <h4 class="fw-bold main-color">JavaScript</h4>
                            <h4 class="fw-bold main-color">Tailwind</h4>
                            <h4 class="fw-bold main-color">Jquery</h4>
                            <h4 class="fw-bold main-color">Angular</h4>
                            <h4 class="fw-bold main-color">SQL</h4>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 d-flex flex-column justify-content-center text-start">
                        <img class="w-100" src="assets\skills.png" alt="">
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div>
                            <h4 class="fw-bold main-color">CSS</h4>
                            <h4 class="fw-bold main-color">Bootstrap</h4>
                            <h4 class="fw-bold main-color">ResponsiveDesign</h4>
                            <h4 class="fw-bold main-color">TypeScript</h4>
                            <h4 class="fw-bold main-color">Angular Material</h4>
                            <h4 class="fw-bold main-color">Git & GitHub</h4>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="projects" class=" py-5 text-center">
    <div class=" container">
        <div class="">
            <p>Browse My Recent</p>
            <h1 class="main-color mb-5 fw-bolder">Projects</h1>
        </div>
        <div class="row ">

            <div class="col-lg-12 h-100">
                <div class="item text-start d-flex flex-column h-100">

                    <iframe src="https://salla-sooty.vercel.app/" class="w-100" frameborder="0" scrolling="no"></iframe>

                    <div class="p-5 flex-grow-1">
                        <h2 class="main-color fw-bold ">Salla</h2>
                        <div class="d-flex flex-column justify-content-between h-100">
                            <div>
                                <p class="text-black fs-5 fw-medium">Complete Ecommerce Website
                                    "Salla" is an Angular e-commerce site showcasingmy expertise inHTML, CSS,
                                    TypeScript, Angular
                                    Materials, Stripe payment, andBootstrap. It offers a responsive design,real-time
                                    product updates via APIs,
                                    and secure transactions through Stripe integration. This project highlightsmy
                                    ability to create dynamic
                                    and user-friendly web solutions using cutting-edge technologies
                                </p>
                            </div>
                        </div>
                        <div class="mt-auto">
                            <button class="main-button fw-medium me-5 fs-5"
                                onclick="window.open('https://github.com/ahmedhamoud17/Salla.git')">
                                <i class="fa-brands fa-github "></i>
                                GitHub
                            </button>
                            <button class="main-button fw-medium fs-5"
                                onclick="window.open('https://salla-sooty.vercel.app/')">
                                <i class="fa-solid fa-globe"></i>
                                Live Demo
                            </button>
                        </div>
                    </div>


                </div>
            </div>

            <div class="col-lg-12 h-100">
                <div class="item text-start d-flex flex-column h-100">

                    <iframe src="https://notes-app-one-henna.vercel.app/" class="w-100" frameborder="0"
                        scrolling="no"></iframe>

                    <div class="p-5 flex-grow-1">
                        <h2 class="main-color fw-bold ">Notes Taking</h2>
                        <div class="d-flex flex-column justify-content-between h-100">
                            <div>
                                <p class="text-black fs-5 fw-medium">Complete Notes Website
                                    "Notes Taking” is a sleek note-taking app craftedwith Angular,HTML, CSS, and
                                    TypeScript.Built with
                                    Angular Material andBootstrap, it offers a user-friendly interface for creating,
                                    organizing, andmanaging
                                    notes. This project showcasesmy expertise in frontend development, delivering
                                    amodern and responsive
                                    note-taking experience."
                                </p>
                            </div>
                        </div>
                        <div class="mt-auto">
                            <button class="main-button fw-medium me-5 fs-5"
                                onclick="window.open('https://github.com/ahmedhamoud17/Notes-App.git')">
                                <i class="fa-brands fa-github "></i>
                                GitHub
                            </button>
                            <button class="main-button fw-medium fs-5"
                                onclick="window.open('https://notes-app-one-henna.vercel.app/')">
                                <i class="fa-solid fa-globe"></i>
                                Live Demo
                            </button>
                        </div>
                    </div>


                </div>
            </div>

            <div class="col-lg-12 h-100">
                <div class="item text-start d-flex flex-column h-100">

                    <iframe src="https://marvel-flax-ten.vercel.app/" class="w-100 px-5" frameborder="0"
                        scrolling="no"></iframe>

                    <div class="p-5 flex-grow-1">
                        <h2 class="main-color fw-bold ">Marvel</h2>
                        <div class="d-flex flex-column justify-content-between h-100">
                            <div>
                                <p class="text-black fs-5 fw-medium">Complete Guide Movie Website
                                    "Marvel" is amovie website built with Angular,HTML, CSS, TypeScript, Angular
                                    Materials, andBootstrap. It
                                    provides a user-friendly interface,responsive design, and integrates real-time data
                                    through APIs. This
                                    project demonstratesmy expertise in frontend development and showcasesmy ability to
                                    create engaging
                                    web experiences withmodern technologies
                                </p>
                            </div>
                        </div>
                        <div class="mt-auto">
                            <button class="main-button fw-medium me-5 fs-5"
                                onclick="window.open('https://github.com/ahmedhamoud17/Marvel.git')">
                                <i class="fa-brands fa-github "></i>
                                GitHub
                            </button>
                            <button class="main-button fw-medium fs-5"
                                onclick="window.open('https://marvel-flax-ten.vercel.app/')">
                                <i class="fa-solid fa-globe"></i>
                                Live Demo
                            </button>
                        </div>
                    </div>


                </div>
            </div>

            <div class="col-lg-12 h-100">
                <div class="item text-start d-flex flex-column h-100">

                    <iframe src="https://yalla-kora-one.vercel.app/" class="w-100" frameborder="0"
                        scrolling="no"></iframe>

                    <div class="p-5 flex-grow-1">
                        <h2 class="main-color fw-bold ">Yalla Kora</h2>
                        <div class="d-flex flex-column justify-content-between h-100">
                            <div>
                                <p class="text-black fs-5 fw-medium">Complete Football Fixtures Website
                                    I created a football fixtures website usingHTML, CSS, JavaScript, andBootstrap,
                                    prioritizing simplicity and
                                    efficiency. Itfeatures a structured layout with responsive design. This project
                                    showcasesmy frontend
                                    development skills and ability to deliverfunctional web solutions withoutframeworks
                                </p>
                            </div>
                        </div>
                        <div class="mt-auto">
                            <button class="main-button fw-medium me-5 fs-5"
                                onclick="window.open('https://github.com/ahmedhamoud17/Yalla-Kora.git')">
                                <i class="fa-brands fa-github "></i>
                                GitHub
                            </button>
                            <button class="main-button fw-medium fs-5"
                                onclick="window.open('https://yalla-kora-one.vercel.app/')">
                                <i class="fa-solid fa-globe"></i>
                                Live Demo
                            </button>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>
</section>

<section id="contact" class="text-center">
    <div class="py-5 container">
        <div>
            <p>Get In Touch</p>
            <h1 class="main-color fw-bolder">Contact Me</h1>
        </div>
        <div class="row ">

            <div class="col-lg-6 col-md-12 col-sm-12">
                <img class="w-100" src="assets\contact.png" alt="">
            </div>

            <div
                class="col-lg-6 col-md-12 col-sm-12  fs-3 text-muted fw-bold d-flex flex-column justify-content-center">
                <div class="mt-5">
                    <button class="main-button fw-medium me-5 fs-5"
                        onclick="window.open('mailto:ahmedhamoud436@gmail.com')">
                        <i class="fa-solid fa-envelope"></i>
                        E-mail
                    </button>
                    <button class="main-button fw-medium fs-5" onclick="openWhatsApp()">
                        <i class="fa-brands fa-whatsapp"></i>
                        What'sApp
                    </button>

                </div>
                <div class="mt-5">
                    <button class="main-button fw-medium me-5 fs-5"
                        onclick="window.open('https://github.com/ahmedhamoud17')">
                        <i class="fa-brands fa-github "></i>
                        GitHub
                    </button>
                    <button class="main-button fw-medium fs-5"
                        onclick="window.open('https://www.linkedin.com/in/ahmed-hamoud-8b0041217/')">
                        <i class="fa-brands fa-linkedin"></i>
                        LindedIn
                    </button>

                </div>
            </div>



        </div>




    </div>
</section>

<footer class="text-center text-lg-center text-black">
    <div class="pb-4 d-lg-block">
        <span class="fw-bolder fs-4">© 2024 - All Right Reserved</span>
    </div>
</footer>